include COPYING.txt
include COPYING_LGPL.txt
include setup.py
include MANIFEST.in

include svgplotlib/svgplotlib.cfg
recursive-include svgplotlib *.py *.pyx *.pxd
recursive-include svgplotlib/fonts *.*